<!DOCTYPE html>
<html>
<head>
    <title>Eve Assets</title>
	<meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://use.fontawesome.com/1d2c1036ef.js"></script>
    <script src="app.js"></script>
    <!-- include: "type": "js", "files": "../App/**/*.js" -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="App/main.css">
    <link rel="stylesheet" type="text/css" href="App/CharacterSheet/CharacterSheet.css">
</head>
<body ng-app="bang.app" ng-controller="AppCtrl">
    <div class="nav">
        <ul>
            <li><a href="#/">Main</a></li>
            <li><a href="#/Mining">Mining</a></li>
            <li><a href="#/">Assets</a></li>
        </ul>   
        <div style="float:right">
            <select name="characterSelect" id="characterSelect" ng-model="selectedCharacter">
                <option ng-repeat="character in allCharacters" value="{{character}}">{{character.CharacterName}}</option>
            </select>
        </div>     
    </div>
    <div ng-view class="content"></div>
</body>
</html>
